[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./scratch_bot.py

# Name of the bot in-game
name = Slime

# Your scratch bot will start running early before the match fully launches, to give it more time.
supports_early_start = True

[Bot Parameters]
# The port to use when connecting Scratch to RLBot. Should be unique from all other bots.
port = 61206

# We will automatically launch a browser with the correct settings to run your bot.
spawn_browser = True

# The location of the Scratch file containing your bot.
sb3file = Slime.sb3

# The bot will run in an invisible browser.
headless = True

# If you spawn multiple bots, each will get its own separate browser instance and pretend to be player 1.
separate_browsers = True

# If your bots in the browser all on orange, we will pretend in Scratch that they're on the blue team.
pretend_blue_team = True

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Zing

# Short description of the bot
description = This is Slime 2.0. This is the current version of my strongest bot.  

# Fun fact about the bot
fun_fact = round :)

# Link to github repository
github = https://github.com/RLBot/RLBotScratchInterface

# Programming language
language = scratch
