[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py

# Name of the bot in-game
name = TensorBot

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

# Delay start up so Tensorflow can load
supports_early_start = True

# Gotta install tensorflow and numpy
requirements_file = ./requirements.txt

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Soren

# Short description of the bot
description = 100% Machine Learning bot trained with recorded Diablo data

# Fun fact about the bot
fun_fact = Takes an additional 5 seconds to load after first starting up

# Link to github repository
github = https://github.com/DanielDowns/ArtificialIntelligence/tree/master/RocketLeagueBots/TensorBot

# Programming language
language = python

tags = 1v1
