[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ../Nexto/appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py
requirements_file = ../Nexto/requirements.txt

logo_file = ../Nexto/nexto_logo.png

# Name of the bot in-game
name = Nexto (Toxic!)

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = The Collective Hatred of the Rocket League Community

# Short description of the bot
description = Nexto, but angry

# Fun fact about the bot
fun_fact = No Fun Allowed

# Link to github repository
github = https://github.com/Rolv-Arild/Necto

# Programming language
language = rlgym

tags = 1v1, teamplay
