[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py

# Name of the bot in-game
name = FillamentBot

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = LuminousLamp367

# Short description of the bot
description = Simple bot made using the 
	tutorial bot and some custom utils I made,
	has no idea what it is doing

# Fun fact about the bot
fun_fact = The original shooting algorithm was '3'.

# Link to github repository
github = https://github.com/RLBot/RLBotPythonExample

# Programming language
language = python

tags = teamplay
