[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py

# Path to the loadout generator
loadout_generator = loadout_generator.py

# Name of the bot in-game
name = Oneborg

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Scumclass

# Short description of the bot
description = Oneborg is mainly a 1v1 bot, designed to update the style originally found in Noob Bot.

# Tags
tags = 1v1, dropshot

# Fun fact about the bot
fun_fact = Favourite theme: Graphyt - System Error

# Link to github repository
github = https://github.com/RLBot/RLBotPythonExample

# Programming language
language = python
