[Locations]
# Path to loadout config from runner
looks_config = javaExampleAppearance.cfg

# Path to module from runner
python_file = javaExample.py

# Name that will be displayed in game
name = Rocket Slayer

[Bot Parameters]
java_executable_path = ../Boss-Battle/bin/Boss-Battle.bat

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Plads Elsker

# Short description of the bot
description = "This is a boss-battle bot that you can fight against. You must add 44 Rocket Slayer bots on the blue team, and 20 Rocket Slayer bots on the orange team. In addition to that, you must add 1 human player to the blue team. You also need to set unlimited time and 1 goal max in the mutators. Don't forget to enable state setting and rendering. Not all maps work. Mannfield is recommended."

# Fun fact about the bot
fun_fact = "It's a dangerous bot!"

# Link to github repository
github = https://github.com/Flyves/Boss-Battle

# Programming language
language = Java

# For the bot to appear in the "Special bots" tab in the gui :3
tags = memebot