[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg
loadout_generator = ./bitbot_loadout.py

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./BitBot.py

# Name of the bot in-game
name = BitBot

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Wes

# Short description of the bot
description = Bit bot is a bot in python using a heavily modified version of GoslingUtils (Thank you GooseFairy), it has team play and works in all game modes.

# Fun fact about the bot
fun_fact = This bot was first started in the winter of 2020, and it was released to the botpack in the winter of 2022. A long time, right?


# Link to github repository
github = https://github.com/ddthj/GoslingUtils

# Programming language
language = Python
