body {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    background-color: gray;
}

#overlay_div {
    margin-top: 35px;
    margin-left: 35px;
    display: inline-block;
    float: left;
}

.menu-prefix {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 6px black;
    font-weight: bold;
}

#message {
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Consolas", "Courier New", monospace;
    width: 1000px;
    margin-left: 100px;
    margin-top: 100px;
    color: white;
    text-shadow: 0 0 12px rgb(0, 0, 0)
}

.section {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.71);
}

.inactive-menu .section {
    background-color: rgba(255, 255, 255, 0.25);
}

.section-header {
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 5px;
}

.menu-id-prefix {
    font-weight: bold;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 1em;
    display: inline-block;
    margin-right: 1px;
}

.opt-number {
    display: inline-block;
    margin-right: 15px;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    font-size: 1.1em;
}

.jq-toast-wrap {
    width: 200px;
}

div.jq-toast-single {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.71);
    font-size: 1em;
    color: black;
}

div.jq-toast-single.jq-icon-success {
    background-color: rgba(169, 215, 165, 1);
}

div.jq-toast-single.jq-icon-error {
    background-color: rgb(215, 154, 134);
}

.player-name {
    font-weight: bold;
}

.player-name.blue {
    color: #005fec;
}

.player-name.orange {
    color: #de5c00;
}

.vote-token {
    width: 10px;
    height: 10px;
    border: solid 2px gray;
    box-shadow: inset 1px 1px 3px #333;
    border-radius: 10px;
    margin-right: 1px;
    display: inline-block;
}

.vote-token.vote-filled, .five-warn .vote-token.vote-filled {
    background-color: #00c200;
    box-shadow: none;
    border-color: black;
    animation: none;
}

.vote-bar {
    display: inline-block;
    margin-left: 10px;
}

.five-warn .vote-progress-holder, .five-warn .vote-token {
    animation: flashred .2s infinite;
    animation-direction: alternate;
}

@keyframes flashred {
    from {background-color: initial;}
    to {background-color: red;}
}

.vote-progress-holder {
    width: 60px;
    box-shadow: inset 1px 1px 3px #333;
    border-radius: 10px;
    border: solid 2px gray;
}

.vote-progress-meter {
    background-color: #00c200;
    height: 10px;
    border-radius: 10px;
}
