body {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    background-color: gray;
}

#overlay_div {
    margin-top: 35px;
    margin-left: 35px;
    display: inline-block;
    float: left;
}

#message {
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Consolas", "Courier New", monospace;
    width: 1000px;
    margin-left: 100px;
    margin-top: 100px;
    color: white;
    text-shadow: 0 0 12px rgb(0, 0, 0)
}

.section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.71);
}

.section-header {
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 5px;
}

.menu-id-prefix {
    font-weight: bold;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 1em;
    display: inline-block;
    margin-right: 1px;
}

.opt-number {
    display: inline-block;
    margin-right: 15px;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    font-size: 1.1em;
}

div.jq-toast-single {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.71);
    font-size: 1em;
    color: black;
}

div.jq-toast-single.jq-icon-success {
    background-color: rgba(169, 215, 165, 1);
}

div.jq-toast-single.jq-icon-error {
    background-color: rgb(215, 154, 134);
}

.player-name {
    font-weight: bold;
}

.player-name.blue {
    color: #1E90FF;
}

.player-name.orange {
    color: #FF8C00;
}
