[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg
loadout_generator = ./omen_loadout.py

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./omen.py

# Name of the bot in-game
name = HP OMEN

logo = ./logo.png

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Wes

# Short description of the bot
description = HO3GDAR551MNGR31SSB is an overpowered Ford F150 and Mustang bot ready for anything!

# Fun fact about the bot
fun_fact = HO3GDAR551MNGR31SSB stands for HP OMEN - 30L Gaming Desktop - AMD Ryzen 5 5600G - 16GB Memory - NVIDIA:registered: GeForce RTX:tm: 3060 - 1TB SSD - Shadow Black

# Link to github repository
github = https://github.com/ddthj/CTAGO7

# Programming language
language = Python
