[Locations]
# Path to loadout config from runner
looks_config = vibebotAppearance.cfg

# Path to module from runner
python_file = yangbot.py

# Name that will be displayed in game
name = Vibe
maximum_tick_rate_preference = 120

[Bot Parameters]
java_executable_path = ../YangBot/bin/YangBot.bat

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = GodGamer029, chip (RLU)

# Short description of the bot
description = yangbot, but FAST

# Fun fact about the bot
fun_fact = speedin

# Link to github repository
github = https://github.com/

# Programming language
language = java