[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./Cheese.py

# Name of the bot in-game
name = CheeseBot

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = JoshyDev

# Short description of the bot
description = CheeseBot plays 1v1, 2v2 and 3v3.

# Fun fact about the bot
fun_fact = CheeseBot is on something different

# Link to github repository
github =

# Programming language
language = Python
