[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./NomBot_v1_Appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./NomBot_v1.py

# Name of the bot in-game
name = NomBot_v1.0

[Details]
# Name of the bot's creator/developer
developer = DomNomNom

# Short description of the bot
description = Always fips. ALWAYS! The flips are slightly more intelligent than just directly towards the ball.

# Fun fact about the bot
fun_fact = This flip bot was made after a more complicated path planning approach flopped.

# Link to github repository
github = https://github.com/DomNomNom/RocketBot/

# Programming language
language = Python

tags = 1v1
