[Locations]
script_file = ./car_botherer.py
requirements_file = ./requirements.txt

# Name of the bot in-game
name = Car Botherer

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = tarehart

description = Works with Twitch Chat Interaction to nudge and flip cars.
    They will be severely bothered.

# Link to github repository
github = https://github.com/tarehart/RLBotTwitchBroker

# Programming language
language = python

tags = requires-twitch
