[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py

# Name of the bot in-game
name = Seer

logo_file = ./logo.png

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

supports_early_start = True

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Neville Walo

# Short description of the bot
description = A 1v1 bot created using reinforcement learning.

# Fun fact about the bot
fun_fact = Trained for 23 years!

# Link to github repository
github = https://github.com/Walon1998/RLRL

# Programming language
language = python

tags = 1v1