[Locations]
# Path to loadout config from runner
looks_config = appearance.cfg

# Name of the bot in-game
name = Phoenix CS

# Path to python file
python_file = ./phoenix.py

# Path to the logo file
logo_file = logo.png


[Bot Parameters]

# Path to the bot's executable
executable_path = ./Phoenix/bin/Release/net5.0/Phoenix.exe


[Details]

# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Eastvillage (strategy) & CodeRed (mechanics)

# Short description of the bot
description = Phoenix, reincarnated with RedUtils! Phoenix is a 1v1 bot with great mechanics (thanks to CodeRed) and positional awareness. When making Phoenix I try to leverage the recent advances in the RLBot community. 

# Fun fact about the bot
fun_fact = The phoenix bird symbolizes immortality, resurrection, and life after death. In ancient Greek and Egyptian mythology, it is associated with the sun god. According to the Greeks, the bird lives in Arabia, near a cool well. Every morning at dawn, the sun god would stop his chariot to listen to the bird sing a beautiful song while it bathed in the well. 

# Link to GitHub repository
github = https://github.com/NicEastvillage/RLBotPhoenixCS

# Programming language
language = C#

tags = 1v1
