
[Locations]
script_file = ./src/main.py
name = Quantum League
requirements_file = requirements.txt

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Darxeal

# Short description of the bot
description = Mind-bending minigame where you have to work with and against your past and future selves. Instructions: Enable this script, and start a match with no bots on either team. Score a goal within 10 seconds, and repeat. Press 'backspace' in-game to restart. Press 'F1' to enter practice mode (failing or restarting only resets the last timeline).

# Fun fact about the bot
fun_fact = This is basically Stallion

# Link to github repository
github = https://github.com/Darxeal/quantum-league

# Programming language
language = python
